body {
    padding: 0;
    margin: 0;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#search-field {
    padding: 12px 20px;
    border-radius: 25px 25px 25px 25px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#google-search-btn {
    background-color: #F8F9FA;
    color: black;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: end;
}

nav > a {
    padding: 10px;
}
